<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app>
  <servlet>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/Scheduler/gwt-log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServiceServlet</servlet-name>
    <servlet-class>com.technology.jep.jepria.server.service.JepMainServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServiceServlet</servlet-name>
    <url-pattern>/Scheduler/MainService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BatchServlet</servlet-name>
    <servlet-class>com.technology.oracle.scheduler.batch.server.BatchServiceEntryPoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchServlet</servlet-name>
    <url-pattern>/Scheduler/BatchService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.technology.oracle.scheduler.schedule.server.ScheduleServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/Scheduler/ScheduleService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>IntervalServlet</servlet-name>
    <servlet-class>com.technology.oracle.scheduler.interval.server.IntervalServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntervalServlet</servlet-name>
    <url-pattern>/Scheduler/IntervalService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RootLogServlet</servlet-name>
    <servlet-class>com.technology.oracle.scheduler.rootlog.server.RootLogServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RootLogServlet</servlet-name>
    <url-pattern>/Scheduler/RootLogService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DetailedLogServlet</servlet-name>
    <servlet-class>com.technology.oracle.scheduler.detailedlog.server.DetailedLogServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailedLogServlet</servlet-name>
    <url-pattern>/Scheduler/DetailedLogService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BatchRoleServlet</servlet-name>
    <servlet-class>com.technology.oracle.scheduler.batchrole.server.BatchRoleServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchRoleServlet</servlet-name>
    <url-pattern>/Scheduler/BatchRoleService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>OptionServlet</servlet-name>
    <servlet-class>com.technology.oracle.scheduler.option.server.OptionServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionServlet</servlet-name>
    <url-pattern>/Scheduler/OptionService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ValueServlet</servlet-name>
    <servlet-class>com.technology.oracle.scheduler.value.server.ValueServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValueServlet</servlet-name>
    <url-pattern>/Scheduler/ValueService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ModuleRolePrivilegeServlet</servlet-name>
    <servlet-class>com.technology.oracle.scheduler.moduleroleprivilege.server.ModuleRolePrivilegeServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleRolePrivilegeServlet</servlet-name>
    <url-pattern>/Scheduler/ModuleRolePrivilegeService</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>Scheduler.jsp</welcome-file>
  </welcome-file-list>
  <security-role>
    <role-name>SchShowBatch</role-name>
  </security-role>
  <security-role>
    <role-name>SchShowSchedule</role-name>
  </security-role>
  <security-role>
    <role-name>SchShowLog</role-name>
  </security-role>
  <security-role>
    <role-name>SchShowBatchRole</role-name>
  </security-role>
  <security-role>
    <role-name>SchShowBatchOption</role-name>
  </security-role>
  <security-role>
    <role-name>SchShowModuleRolePrivilege</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>The application entry point</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>SchShowBatch</role-name>
      <role-name>SchShowSchedule</role-name>
      <role-name>SchShowLog</role-name>
      <role-name>SchShowBatchRole</role-name>
      <role-name>SchShowBatchOption</role-name>
      <role-name>SchShowModuleRolePrivilege</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/WEB-INF/security/Login.jsp</form-login-page>
      <form-error-page>/WEB-INF/security/LoginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>
