<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app>

  <servlet>
    <servlet-name>VersionServlet</servlet-name>
    <servlet-class>com.technology.oracle.moduleinfo.main.server.VersionServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>VersionServlet</servlet-name>
    <url-pattern>/versionServlet</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>The application entry point</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
  </security-constraint>

</web-app>
