<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app>
  <servlet>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/OptionAsRia/gwt-log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServiceServlet</servlet-name>
    <servlet-class>com.technology.jep.jepria.server.service.JepMainServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServiceServlet</servlet-name>
    <url-pattern>/OptionAsRia/MainService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OptionServlet</servlet-name>
    <servlet-class>com.technology.oracle.optionasria.option.server.OptionServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionServlet</servlet-name>
    <url-pattern>/OptionAsRia/OptionService</url-pattern>
  </servlet-mapping>
  <ejb-local-ref>
    <ejb-ref-name>ejb/OptionBean</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>com.technology.oracle.optionasria.option.server.ejb.OptionLocal</local>
  </ejb-local-ref>
  <servlet>
    <servlet-name>ValueServlet</servlet-name>
    <servlet-class>com.technology.oracle.optionasria.value.server.ValueServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValueServlet</servlet-name>
    <url-pattern>/OptionAsRia/ValueService</url-pattern>
  </servlet-mapping>
  <ejb-local-ref>
    <ejb-ref-name>ejb/ValueBean</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>com.technology.oracle.optionasria.value.server.ejb.ValueLocal</local>
  </ejb-local-ref>
  <servlet>
    <servlet-name>VersionServlet</servlet-name>
    <servlet-class>com.technology.jep.jepria.server.version.VersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VersionServlet</servlet-name>
    <url-pattern>/versionServlet</url-pattern>
  </servlet-mapping>
  <ejb-local-ref>
    <ejb-ref-name>ejb/VersionBean</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>com.technology.jep.jepria.server.version.ejb.JepVersionLocal</local>
  </ejb-local-ref>
  <welcome-file-list>
    <welcome-file>OptionAsRia.jsp</welcome-file>
  </welcome-file-list>
  <security-role>
    <role-name>OptShowOption</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>The application entry point</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>*</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>OptShowOption</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Version Servlet entry point</web-resource-name>
      <url-pattern>/versionServlet</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>
</web-app>
