<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app>
  <servlet>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/OptionAsRia/gwt-log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServiceServlet</servlet-name>
    <servlet-class>com.technology.jep.jepria.server.service.JepMainServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServiceServlet</servlet-name>
    <url-pattern>/OptionAsRia/MainService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OptionServlet</servlet-name>
    <servlet-class>com.technology.oracle.optionasria.option.server.OptionServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionServlet</servlet-name>
    <url-pattern>/OptionAsRia/OptionService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ValueServlet</servlet-name>
    <servlet-class>com.technology.oracle.optionasria.value.server.ValueServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValueServlet</servlet-name>
    <url-pattern>/OptionAsRia/ValueService</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>OptionAsRia.jsp</welcome-file>
  </welcome-file-list>
  <security-role>
    <role-name>OptShowOption</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>The application entry point</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>OptShowOption</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/WEB-INF/security/Login.jsp</form-login-page>
      <form-error-page>/WEB-INF/security/LoginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>
